<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="usr-index">
            <div class="container">
                <div class="box item a1"></div>
                <div class="box item a2"></div>
                <div class="box item a3"></div>
                <div class="box item a4"></div>

                <div class="box item b1"></div>
                <div class="box item b2"></div>
                <div class="box item b3"></div>
                <div class="box item b4"></div>

                <div class="box item c1"></div>
                <div class="box item c2"></div>
                <div class="box item c3"></div>
                <div class="box item c4"></div>

                <div class="box item d1"></div>
                <div class="box item d2"></div>
                <div class="box item d3"></div>
                <div class="box item d4"></div>

                <div class="box item e1"></div>
                <div class="box item e2"></div>
                <div class="box item e3"></div>
                <div class="box item e4"></div>

                <div class="box item f1"></div>
                <div class="box item f2"></div>
                <div class="box item f3"></div>
                <div class="box item f4"></div>
            </div>
        </div>
    </body>
</html>